- type ||= "text"
%div
	%label{:for => "upload[#{name}]"} #{name.gsub('_',' ').capitalize}:
	- if type == "textarea"
		%textarea{:name => "upload[#{name}]"}
	-else
		%input{:type => "#{type}", :name => "upload[#{name}]"}